body {
    margin: 0px;
    background-image: url(../img/fond.jpg);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.connect {
    margin-top: 10%;
}

.form-control {
    height: 40px;
    margin-bottom: 10px;
}

h1 {
    font-size: 25px;
}

.student {
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    padding-bottom: 10px;
}

.compagny {
    margin-top: 17%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    padding-bottom: 17px;
}

.footer {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    bottom: 0%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.submit {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    color: white;
}

input {
    border-radius: 0px;
    height: 25px;
}

.titre {
    padding-top: 5px;
    text-align: center;
    font-size: 27px;
}

.label {
    text-align: center;
    font-size: 17px;
    color: white;
}


/* page accueil.php */

.content {
    background-color: white;
}

.name {
    background-color: rgb(24, 64, 70);
    height: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 150px;
}

.name p {
    color: white;
}